<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9066/SignupService.svc/localhost"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISignUpService"
        contract="WcfServiceReference.ISignUpService" name="WSHttpBinding_ISignUpService">
        <identity>
          <servicePrincipalName value="host/YAN" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISignUpService" />
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
